p Hello #{customer_name},
p
  | Below you will find the tracking details for your replacement. To view the
  | progress of your replacement, click the appropriate link below. If you have
  | any questions or concerns, please contact us by email or phone. We hope you
  | enjoy your replacement.
p
  | Shipped: 
  b UPS Ground
  br
  |   Tracking Number: #{tracking_number}
p
  | Sincerely,
  br
  |   NEW Service Center
  br
  |   Hours:9AM-5PM CST Monday-Friday
  br
  u(style='color:blue;') newsupport@rapidreplacement.net
  br
  |   866.772.4554
