

<table width="98%" border="0" cellpadding="0" cellspacing="0">
	<thead>
		<tr align="center">
			<td bgcolor="#FFFFFF">
				<table width="726" align="center" border="0" cellpadding="0"
					cellspacing="0">
					<tr align="left">
						<td width="726" align="center"
							style="padding-bottom: 20px; padding-top: 20px;"><img
							src="http://www.mhdenterprises.com/rr_images/company-images/asurion-logo-color.png"
							alt="Asurion" align="left" style="margin-left:-6px;" /></td>
					</tr>
				</table>
			</td>
		</tr>
	</thead>
	<tbody>
		<tr align="center">
			<td bgcolor="#FFFFFF">
				<table width="726" align="center" border="0" cellpadding="0"
					cellspacing="0">
					<tr align="left">
						<td width="726"
							style="text-align: justify; font-size: 14px; font-family: Arial, Helvetica, sans-serif; padding-bottom: 20px; padding-top: 40px;">
							<p>
								<strong>[DATE]</strong><br /> <br /> <br />RE: #{sr_number}<br />
								<br />Hello #{customer_name}, <br /> <br />Recently we
								contacted you via email notifying you of your [DEVICE_TYPE] replacement
								options under your Product Protection Plan.<br /> <br />We did
								not hear from you within the 48 hour timeframe which may have
								impacted inventory availability. Below you will see a link to
								our portal along with your username and password. Please note
								the password expiration date.<br /> <br /> <strong>URL:
								</strong>[URL]<br /> <br /> <strong>UserName: </strong>[USERNAME]<br />
								<strong>Password: </strong>[PASSWORD]<br /> <strong>Expires:
								</strong>[EXPIRES]<br /> <br />Please review them carefully and select
								a replacement within 48 hours to guarantee your selection.
								Please call our Customer Service Department at 866.233.0681 if
								you have any questions or need a new password if your login
								expires.<br /> <br />We appreciate the opportunity to serve
								you. <br /> <br />Sincerely,<br />Asurion Service Center<br />866.233.0681
							</p>
						</td>
					</tr>
					<tr>
						<td align="center"><img
							src="http://www.mhdenterprises.com/rr_images/company-images/shadow_horizontal.png"
							width="718" /></td>
					</tr>
				</table>
			</td>
		</tr>
	</tbody>
</table>

