head
  style.
b RR_MFG:
|  #{RR_MFG}
br
b RR_Model:
|  #{RR_Model}
br
b MHD_WO:
|  #{workOrderNumber}
br
b RR_Cost:
|  #{RR_Cost}
br
b RR_Tracking:
|  ############
br
b Condition:
|  #{RR_Condition}
br
br
|     The customer has received the tracking information and this SR is now
|     closed.
br
br
|     Sincerely,
br
|     Asurion Service Center 
br
|     Hours: 9AM-5PM CST Monday-Friday
br
|     newsupport@rapidreplacement.net
br
|     866-772-4554
