div(style='font-size:14px;')
  p #{RMA ? 'RMA ' : ''}Escalated - #{CLOSING_REASON}
  p #{CLOSING_REASON_NOTE}
  p Sincerely,
  div Asurion Service Center
  div Hours: 9AM-5PM CST Monday-Friday
  div newsupport@rapidreplacement.net
  div 866.772.4554 