table.container(align='center' style='max-width:600px; width:600px; border-top:5px solid #006699; margin-bottom:20px;')
  tr
    td(colspan='2' height='65' valign='middle' style='border-bottom:1px solid #dbdcdc;')
      a(href='' title='Right-click to view images.')
        img(src='http://www.mhdenterprises.com/rr_images/company-images/logo-asurion-color.gif' alt='Right-click to view images.' align='left' border='0')
  tr
    td(style='font:14px/20px calibri, arial, helvetica, sans-serif; color:#333; word-wrap:break-word; padding-bottom:20px;')
      br
      b Hello #{customer_name},
      br
      br
      | Recently we contacted you via email to let you know of the replacement options for your [DEVICE_TYPE]. 
      br
      br
      b Service Request Number: #{sr_number}
      br
      br
      | We did not hear from you within the 48 hour timeframe which may have impacted inventory availability. Below is a link to our portal along with your username and password. You will need these to select your replacement. Please note the password expiration date. 
      br
      br
      | URL: [PORTAL_URL]
      br
      
      br
      | Please review your options carefully and select a replacement within 48 hours to guarantee your selection. Please call our Customer Service Department at 888-212-7434 if you have any questions or need a new password or login. 
      br
      br
      | Our hours of operation are: Mon - Fri 10am - 6pm ET. 
      br
      br
      | Thank you for choosing to protect your device with AT&amp;T Multi-Device Protection Pack.* 
      br
      br
      | Sincerely,
      br
      br
      b Asurion Protection Services, LLC
  tr
    td(style='border-top:1px solid #dbdcdc;')
  tr
    td(colspan='2' style='font:9px/12px arial, helvetica, sans-serif; color:#999; word-wrap:break-word; padding-top:20px;')
      b Please Note:
      |  This is an auto-generated e-mail that is unable to receive replies.
      br
      br
      br
      | This email was sent by: Asurion Insurance Services, Inc.
      br
      br
      | * AT&amp;T Multi-Device Protection Pack consists of Multi-Device Insurance, Enhanced Support and Mobile Locate. Multi-Device Insurance is underwritten by Continental Casualty Company, a CNA company (CNA), and administered by Asurion Protection Services, LLC (In Iowa, license #1001002300, In California, Asurion Protection Services Insurance Agency, LLC, CA Lic. #OD63161. In Puerto Rico, Asurion Protection Services of Puerto Rico, Inc.), a licensed agent of CNA.  All applicable taxes and surcharges extra.
