div
  | Return Tracking: 
  a(href=`http://wwwapps.ups.com/WebTracking/track?track=yes&trackNums=${U_Tracking}`) #{U_Tracking}
br
br
div
  | A notification will be sent once the Return is picked up and UPS Status shows -In Transit-.
br
br
| Sincerely,
br
| Asurion Service Center
br
| Hours: 9AM - 5PM CST Monday - Friday
br
a(href='\"mailto:newsupport@rapidreplacement.net?Subject=Rapid%20Replacement\"' target='\"_top\"') newsupport@rapidreplacement.net
br
| 866.772.4554
