table(width='98%' border='0' cellpadding='0' cellspacing='0')
  thead
    tr(align='center')
      td(bgcolor='#FFFFFF')
        table(width='726' align='center' border='0' cellpadding='0' cellspacing='0')
          tr(align='left')
            td(width='726' align='center' style='vertical-align: middle; padding-bottom: 20px; padding-top: 20px;')
              img(src='http://www.mhdenterprises.com/rr_images/company-images/asurion-logo-color.png' alt='Asurion' align='left' style='margin-left:-6px;')
  tbody
    tr(align='center')
      td(bgcolor='#FFFFFF')
        table(width='726' align='center' border='0' cellpadding='0' cellspacing='0')
          tr(align='left')
            td(width='726' style='text-align: justify; font-size: 14px; font-family: Arial, Helvetica, sans-serif; padding-bottom: 20px; padding-top: 40px;')
              p
                strong [DATE]
                br
                br
                br
                | Dear
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;#{customer_name}, 
                br
                br
                | You recently submitted (SR)
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Service Request 
                strong #{sr_number}
                |  with us for your
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;[DEVICE_TYPE].
                br
                br
                | We are happy to let you know under the
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;terms and conditions of your Protection Plan, you are eligible
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;for an equivalent replacement unit.
                br
                br
                |  Your existing
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;[DEVICE_TYPE] is a #{original_unit_manufacturer?original_unit_manufacturer:"NOT FOUND"}. We have selected up to three
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;appropriate [DEVICE_TYPE] replacement options from our current
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;inventory. Below you will see a link to our portal along with
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;your username and password.
                br
                br
                strong
                  | URL: #{url}
                br
                
                br
                | Please review them carefully and select
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;a replacement within 48 hours to guarantee your selection.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Please call our Customer Service Department at 866.233.0681 if
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;you have any questions or need a new password if your login
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;expires.
                br
                br
                | We appreciate the opportunity to serve
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;you. 
                br
                br
                | Sincerely,
                br
                | Asurion Service Center
                br
                | 866.233.0681
          tr
            td(align='center')
              img(src='http://www.mhdenterprises.com/rr_images/company-images/shadow_horizontal.png' width='718')
