table.container(align='center' style='max-width:600px; width:600px; border-top:5px solid #006699; margin-bottom:20px;')
  tr
    td(colspan='2' height='65' valign='middle' style='border-bottom:1px solid #dbdcdc;')
      a(href='' title='Right-click to view images.')
        img(src='http://www.mhdenterprises.com/rr_images/company-images/logo-asurion-color.gif' alt='Right-click to view images.' align='left' border='0')
  tr
    td(style='font:14px/20px calibri, arial, helvetica, sans-serif; color:#333; word-wrap:break-word; padding-bottom:20px;')
      br
      b Hello [FIRST_NAME],
      br
      br
      | Thank you for your recent selection of your [Replacement_Device_Manufacturer]. 
      br
      br
      b Service Request Number: [SR_Number]
      br
      br
      | Once your device has shipped, we will send a separate email along with a tracking number.  Per the manufacturer, keep all packaging materials for a minimum of 30 days on all products should you need to file a manufacturer&apos;s warranty claim.  If you have any issues with the shipment, please contact our Customer Service Department at 888-212-7434. 
      br
      br
      | According to the terms and conditions of your plan, issuance of the replacement product will fulfill all requirements under your plan.
      br
      br
      | If you have any questions or concerns about your claim, please call our Customer Service Department. Our hours of operation are: Mon - Fri 10am - 6pm ET.   
      br
      br
      | Thank you for choosing to protect your device with AT&amp;T Multi-Device Protection Pack.* 
      br
      br
      | Sincerely,
      br
      br
      b Asurion Protection Services, LLC
  tr
    td(style='border-top:1px solid #dbdcdc;')
  tr
    td(colspan='2' style='font:9px/12px arial, helvetica, sans-serif; color:#999; word-wrap:break-word; padding-top:20px;')
      b Please Note:
      |  This is an auto-generated e-mail that is unable to receive replies.
      br
      br
      br
      | This email was sent by: Asurion Insurance Services, Inc.
      br
      br
      | * AT&amp;T Multi-Device Protection Pack consists of Multi-Device Insurance, Enhanced Support and Mobile Locate. Multi-Device Insurance is underwritten by Continental Casualty Company, a CNA company (CNA), and administered by Asurion Protection Services, LLC (In Iowa, license #1001002300, In California, Asurion Protection Services Insurance Agency, LLC, CA Lic. #OD63161. In Puerto Rico, Asurion Protection Services of Puerto Rico, Inc.), a licensed agent of CNA.  All applicable taxes and surcharges extra.
