table.container(align='center' cellpadding='0' cellspacing='0' style='max-width:600px; width:370px;' border='0')
  tr
    td(height='20')
table.container(align='center' cellpadding='0' cellspacing='0' style='max-width:600px; width:600px; background-color:#FFFFFF;' border='0')
  tr
    td(valign='top' align='left' style='padding: 0px 0px 0px 0px;')
      img(src='http://mhdenterprises.com/rr_images/product-images/ATT_logo_top.jpg' width='192' height='70' border='0')
table.container(align='center' cellpadding='0' cellspacing='0' style='max-width:600px; width:600px; background-color:#FFFFFF;' border='0')
  tr
    td(align='center' style='font-family:helvetica, arial, sans-serif; color:#333333; font-size:14px;')
table.container(align='center' cellpadding='0' cellspacing='0' style='max-width:600px; width:600px; background-color:#FFFFFF;' border='0')
  tr
    td(align='center' style='font-family:att_aleck_sansbold,helvetica, arial, sans-serif; color:#000000; font-size:14px;')
      | Your product is beyond repair.
      br
      span(style='font-size:20px; font-weight:bold; line-height:26px;')
        | Please choose your replacement
      br
      br
      | Service Request: [SR_Number] 
      br
      br
table.container(align='center' cellpadding='0' cellspacing='0' style='max-width:600px; width:440px; min-width:200px' border='0')
  tr
    td(width='25')
    td(style='font-size:14px; line-height:18px; font-family:helvetica, arial, sans-serif; color:#666; word-wrap:break-word;')
      table(width='100%' border='0' cellspacing='0' cellpadding='0' align='left' style='font-size:14px; line-height:18px; font-family:helvetica, arial, sans-serif; color:#666; word-wrap:break-word;')
        tr
          td(style='font-size:14px; line-height:20px; font-family:helvetica,arial,sans-serif; color:#666;' valign='top' align='left')
            span(style='font-size:14px; font-family:att_aleck_sansbold, helvetica, arial, sans-serif; color:#000000; font-weight:bold;') Hi [FIRST_NAME],
            br
            br
            | We&apos;d like to send you a replacement product. Please click the link below to choose your replacement product within 48 hours. 
            br
            br
            | Portal Link: [PORTAL_URL] 
            br
            | Please call us at 888.503.7228 if you have any questions or need a new password if your login information has expired.
            br
            br
            span(style='color:#41b6e6; font-weight:bold; font-size:16px;')
              i Thanks for choosing AT&amp;T
    td(width='25')
table.container(align='center' cellpadding='0' cellspacing='0' style='max-width:600px; width:600px; background-color:#FFFFFF;' border='0')
  tr
    td(align='right' style='font-family:helvetica, arial, sans-serif; color:#333333; font-size:14px; padding-right:40px; padding-bottom:15px;')
      img(src='http://mhdenterprises.com/rr_images/product-images/ATT_logo_footer.jpg' border='0')
center
  table.container(align='center' cellpadding='0' cellspacing='0' style='max-width:600px; width:600px; background-color:#f6f6f6;' border='0')
    tr
      td
        table.container(align='center' cellpadding='0' cellspacing='0' style='max-width:600px; width:500px; background-color:#f6f6f6;' border='0')
          tr
            td(width='25')
            td.footer_mobile(valign='middle' align='center' style="font-size:10px; line-height:12px; line-height:14px; font-family:'att_aleck_sansmedium',helvetica, arial, sans-serif; color:#333333; background-color:#f6f6f6; word-wrap:break-word;")
              br
              br
              strong Please note:
              |  This is an auto-generated email that is unable to receive replies.
              br
              br
              | DIRECTV Protection Plan Premier Team 
              br
              | 9715-A Burnet Rd #125 
              br
              | Austin, TX 78758 
              br
              | Monday - Friday 10am - 6pm ET
              br
              br
            td(width='25')
          tr
            td(width='25')
            td(valign='middle' align='center' style='font-size:10px; line-height:12px; line-height:14px; font-family:helvetica, arial, sans-serif; color:#999; background-color:#f6f6f6; word-wrap:break-word;')
              a(href='http://www.phoneclaim.com/help?msgid=privacy&tmpl=component' style='color:#0568ae; font-weight:bold; text-decoration:none;') Privacy Policy
              |  | 
              a(href='http://phoneclaim.com/att?cid=EM-NAUSCEATWU' style='color:#0568ae; font-weight:bold; text-decoration:none;') Contact Us
              br
              br
            td(width='25')
  table.container(align='center' cellpadding='0' cellspacing='0' style='max-width:600px; width:370px;' border='0')
    tr
      td(height='20')
