font(size='5')
  b RR_MFG:
  |  #{RR_MFG}
  br
  b RR_Model:
  |  #{RR_Model}
  br
  b MHD_WO:
  |  #{workOrderNumber}
  br
  b Condition:
  |  #{RR_Condition}
  br
  br
  |   This email will be followed by a &quot;Replacement Shipped&quot; email with Tracking and
  |   Cost once the unit has shipped.
  br
  br
  |   Sincerely,
  br
  |   Asurion Service Center 
  br
  |   Hours: 9AM-5PM CST Monday-Friday
  br
  |   newsupport@rapidreplacement.net
  br
  |   866-772-4554
