
<table align="center" style="max-width:600px; width:600px; border-top:5px solid #006699; margin-bottom:20px;" class="container">

<tr><td colspan="2" height="65" valign="middle" style="border-bottom:1px solid #dbdcdc;"><a href="" title="Right-click to view images."><img src="http://www.mhdenterprises.com/rr_images/company-images/logo-asurion-color.gif" alt="Right-click to view images." align="left" border="0"></a></td></tr>

<tr>
<td style="font:14px/20px calibri, arial, helvetica, sans-serif; color:#333; word-wrap:break-word; padding-bottom:20px;">
<br>
<b>Hello #{customer_name},</b>
<br><br>
You recently submitted a claim for your [DEVICE_TYPE].  We are happy to let you know that you are eligible for an equivalent replacement device.
<br><br>
<b>Service Request Number: #{sr_number}</b>
<br><br>
Your existing device is a #{original_unit_manufacturer}. We have selected up to three device replacement options from our current inventory. Below is a link to our replacement portal along with your username and password.  You will need these to select your replacement. 
<br><br>
URL: "THIS IS A URL..."
<br><br>

Please review your options carefully and select a replacement within 48 hours to guarantee your selection. Please call our Customer Service Department at 888-212-7434 if you have any questions or need a new password or login. 
<br><br>
Our hours of operation are: Mon - Fri 10am - 6pm ET.  
<br><br>
Thank you for choosing to protect your device with AT&amp;T Multi-Device Protection Pack.* 
<br><br>
Sincerely,
<br><br>
<b>Asurion Protection Services, LLC</b>


</td>

</tr>
<tr><td style="border-top:1px solid #dbdcdc;"></td></tr>

<tr><td colspan="2" style="font:9px/12px arial, helvetica, sans-serif; color:#999; word-wrap:break-word; padding-top:20px;">

<b>Please Note:</b> This is an auto-generated e-mail that is unable to receive replies.</strong>
<br><br><br>
This email was sent by: Asurion Insurance Services, Inc.
<br><br>
*AT&amp;T Multi-Device Protection Pack consists of Multi-Device Insurance, Enhanced Support and Mobile Locate. Multi-Device Insurance is underwritten by Continental Casualty Company, a CNA company (CNA), and administered by Asurion Protection Services, LLC (In Iowa, license #1001002300, In California, Asurion Protection Services Insurance Agency, LLC, CA Lic. #OD63161. In Puerto Rico, Asurion Protection Services of Puerto Rico, Inc.), a licensed agent of CNA.  All applicable taxes and surcharges extra. 
</td></tr>
</table>