#root {
  margin: 0px;
  /* padding: 30px; */
  /* filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#c200fb", endColorstr="#ec0868", GradientType=1 ); */
}

html,
body {
  background-image: url("../src/assets/login-background1.png");
  background-size: cover;
  height: 100vh;
  background-position: center;
}

.goBackButton {
  padding: 5px 5px;
  border: 1px solid black;
  border-radius: 5px;
  width: 80px;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
}

.goBackButton:hover {
  background-color: lightgray;
}

.soButtonPutBack {
  color: red;
  opacity: 0.4;
  font-weight: 500;
  margin-top: 20px;
}

.soButtonPutBack:hover {
  color: red;
  opacity: 1;
}

.soButtonPutBack:focus {
  color: red;
}

.login-page {
  background-image: url("../src/assets/login-background1.png");
  padding: 30px;
  background-size: cover;
  height: 100vh;
  background-position: center;
  margin: auto;
  text-align: center;
  display: flex;
}

.login-card {
  background: #fff;
  border-radius: 20px;
  width: 400px;
  margin: auto;
  padding-top: 30px;
}

.shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

.logo-font {
  font-family: "Archivo Black", sans-serif;
}

.title-placement {
  display: flex;
  justify-content: center;
}

.fast-arrow {
  height: 35px;
  margin-left: 20px;
}

.custom-button,
.custom-button:focus,
.custom-button:active {
  background-color: rgb(174, 0, 174);
  border: 0px;
}

.custom-button:hover {
  background-color: rgb(255, 73, 255);
  border: 0px;
}

.full-width {
  width: 100%;
}

.input-box {
  border-radius: 20px;
  padding: 7px 20px;
}

.gradient-button {
  /* margin: 10px; */
  font-family: "Arial Black", Gadget, sans-serif;
  /* font-size: 20px; */
  /* padding: 15px; */
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  /* width: 200px; */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  display: inline-block;
  border-radius: 25px;
}
.gradient-button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.023), 0 6px 6px rgba(0, 0, 0, 0.057);
  /* margin: 8px 10px 12px; */
}

.gradient-button-4 {
  background-image: linear-gradient(
    to left,
    #00d2ff 0%,
    #3a7bd5 51%,
    #00d2ff 100%
  );
}
.gradient-button-4:hover {
  background-position: right center;
}

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
.logout-username {
  font-family: "Dancing Script", cursive;
  font-size: 20px;
}

.options-bar {
  background-color: #1a281f;
  margin: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.prelative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.beta-tag-shadow {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.beta-tag {
  background: greenyellow;
  border: 1px solid lightgreen;
  padding: 0px 5px;
  right: -5px;
  top: calc(-50% + 5px);
  color: black;
  font-weight: 600;
  border-radius: 3px;
  font-size: 10px;
  margin-left: 10px;
}

.modal-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding: 15px 25px;
  margin-bottom: -10px;
  margin-left: -25px;
  margin-right: -25px;
}

.modal-footer button {
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  margin-right: 10px;
}

.cancel-button,
.cancel-button:focus,
.cancel-button:active {
  background-color: rgb(255, 34, 12);
  border: 0px;
  color: white;
  font-weight: 500;
}

.cancel-button:hover {
  background-color: rgb(255, 57, 39);
  border: 0px;
  color: white;
}

.beta-badge-box {
  position: absolute;
  height: 20px;
  width: 20px;
  z-index: 20;
  background: transparent;
  right: -10px;
  top: -10px;
  border-radius: 10px;
}

.dexter-badge-image {
  /* background-image: url("../src/assets/beta-test.png"); */
  /* height: 20px;
  width: 20px; */
  /* background: white; */
  height: 100%;
  width: 100%;
}

.dexter-badge-image:hover {
  height: 150%;
  width: 150%;
  margin-top: -10px;
  margin-left: -10px;
}

.disabled-input {
  background: white !important;
  font-weight: 700 !important;
  color: black !important;
  width: max-content;
}

/* Add vendor */
.custom-button-green,
.custom-button-green:focus,
.custom-button-green:active {
  background-color: #00D808;
  border: 0px;
  width: 100px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  height: 40px;
}

.custom-button-green:hover {
  background-color: #00d808bd;
  border: 0px;
  color: #000000;
}

.add-vendor .ant-form-item-label > label {
  font-size: 20px;
  font-weight: bold;
}
.ant-modal-centered .ant-modal-content {
  border-radius: 15px;
}

.ant-modal-centered .ant-modal-title {
  font-size: 20px;
  font-weight: bold;
}
.ant-modal-centered .ant-modal-header {
  padding: 16px 24px;
  color: rgba(0, 0, 0, 0.85);
  background: #fff;
  border-bottom: 0 solid #f0f0f0;
  border-radius: 15px;
}

.ant-modal-centered .ant-modal-footer {
  padding: 10px 16px;
  text-align: right;
  background: transparent;
  border-top: 0 solid #f0f0f0;
  border-radius: 15px;
}

.ant-modal-centered .ant-input {
  border: 0;
  border-bottom: 2px solid silver;
}

.ant-modal-centered .ant-input:focus {
  box-shadow: 0 0 0 0 rgb(24 14 255 / 20%);
}